.linkItem {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.linkItemList {
  margin-left: 2rem;
}

.linkItemFolder {
  display: flex;

  .angleIconContainer {
    position: relative;
    left: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;

    .angleIcon {
      color: var(--primary-color);
      font-size: 1.5rem;
    }
  }
}
