$colors: (
  primary: #004581,
  secondary: #d8e8ff,
  border: #eee,
  background: #fffaf2,

  dark-letter: #eee,
  dark-background: #222,
);

$breakpoints: (
  mobile: 0px,
  tablet: 768px,
  desktop: 1024px,
);
