@import "@/styles/variables.scss";
@import "@/styles/common.scss";

@font-face {
  font-family: "Consolas";
  src: url(../assets/fonts/CONSOLA.TTF) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url(../assets/fonts/CONSOLAI.TTF) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Consolas";
  src: url(../assets/fonts/CONSOLAB.TTF) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url(../assets/fonts/CONSOLAZ.TTF) format("truetype");
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  scroll-padding-top: 64px;
  font-size: 16px;
  scroll-behavior: smooth;

  // @media (max-width: $mobile) {
  //   font-size: 15px;
  // }

  --light-text-color: gray;

  &[data-theme="light"] {
    --primary-color: #006ac6;
    --secondary-color: #e6f1ff;
    --border-color: #ddd;
    --text-color: black;
    --background-color: #fff;
    --body-background-color: #eee;
    --tag-color: #399681;
    --backquote-color: #555;
  }

  &[data-theme="dark"] {
    --primary-color: #47a9ff;
    --secondary-color: #68a7ff24;
    --border-color: #404040;
    --text-color: #eee;
    --background-color: #222;
    --body-background-color: #111;
    --tag-color: #2c7564;
    --backquote-color: #bbb;
  }

  color: var(--text-color);
  background-color: var(--body-background-color);
  transition: color 0.3s ease,
  background-color 0.3s ease;
}

.wrapper {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
  flex: 1;
}

main {
  width: 100%;
  /* max-width: var(--tablet-breakpoint); */
  max-width: 990px;
  padding: 0 3rem;

  @media (max-width: $tablet) {
    padding: 0 2rem;
  }

  @media (max-width: $mobile) {
    padding: 0 1rem;
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;

  @media (hover: hover) {

    &:hover,
    :hover {
      text-decoration: underline;
    }
  }

  @media (hover: none) {

    &:active,
    :active {
      text-decoration: underline;
    }
  }
}

.md {
  margin: 2rem 0;
  background-color: var(--background-color);
  border-radius: 1rem;
}

p {
  margin: 1rem 0;
  line-height: 1.8rem;
}

// h1,
// h2,
// h3 {
//   padding-top: 4rem;
// }

h1 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  // border-bottom: 1px solid map-get($map: $colors, $key: border);
  font-size: 1.6rem;
  line-height: 3rem;
}

h2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--secondary-color);
  font-size: 1.4rem;
  line-height: 3rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
  border-bottom: 1px solid var(--secondary-color);
}

h4 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 2rem;
}

ul {
  padding-left: 1.5rem;
  margin: 2rem 0;

  li {
    margin: 0.5rem 0;

    p {
      margin: 0;
    }
  }
}

li {
  ul {
    margin: 0.5rem 0;
  }
}

.table-wrapper {
  overflow-x: auto;
  margin: 2rem 0;
  font-size: 0.9rem;

  table {
    border-collapse: collapse;

    th {
      background-color: var(--secondary-color);
      padding: 0.5rem 1rem;
      border: 1px solid var(--border-color);
    }

    td {
      padding: 0.5rem 1rem;
      border: 1px solid var(--border-color);
    }
  }
}

code.inline-code-block {
  background-color: #88888820;
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
  font-family: Consolas, monospace;
}

details.toc-wrapper {
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  transition: background-color 0.3s ease;

  summary {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
  }

  nav.toc {
    padding-left: 2rem;

    ol {
      padding-left: 1rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}

sup a {
  padding-top: 4rem;
  margin-top: -4rem;
  margin: 0 0.2rem;
}

blockquote {
  margin: 2rem 0;
  margin-left: 0.5rem;
  padding-left: 1rem;
  border-left: 0.3rem solid var(--border-color);
  transition: color 0.3s ease;
  color: var(--backquote-color);

  ol {
    padding-left: 1.5rem;
  }
}

.footnotes {
  ol {
    padding-left: 2rem;
  }
}

sup {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  bottom: 1ex;
}

ul.contains-task-list {
  list-style-type: none;
  padding-left: 0;

  li.task-list-item {
    list-style-type: none;
  }
}

ol {
  padding-left: 2rem;

  li {
    margin: 0.5rem 0;
  }
}