@import "/src/styles/common.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  animation: background-color 0.3s ease;

  .title {
    max-width: 100%;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .description {
    text-align: center;
    font-size: 0.9rem;
    color: var(--light-text-color);
    margin-bottom: 1.5rem;
  }

  .date {
    color: var(--light-text-color);
    // margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: right;

    .icon {
      margin-right: 0.1rem;
      width: 0.8rem;
      height: 0.8rem;
    }

    .text {
      text-align: center;
      font-size: 0.7rem;
    }
  }

  .tagContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: left;
    margin-bottom: 0.5rem;
  }
}