@import "../styles/common.module.scss";

.container {
  width: fit-content;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  border-radius: 0.3rem;
  @include hover();
  position: relative;
  left: -0.5rem;
  @include link-hover();
  color: var(--primary-color);
  :hover {
    text-decoration: underline var(--primary-color);
  }
}

.link {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  align-items: center;
}

.icon {
  height: 1.2rem;
  width: 1.2rem;
  color: var(--primary-color);
}

.text {
  padding: 0 0.5rem;
  color: var(--primary-color);
}