@import "../styles/common.module.scss";

.container {
  width: fit-content;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  border-radius: 0.3rem;
  @include hover();
  position: relative;
  left: -0.5rem;
}

.link {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  align-items: center;
  @include link-hover();
}

.icon {
  height: 1.2rem;
  width: 1.2rem;
}

.text {
  padding: 0 0.5rem;
}