@import "/src/styles/variables.scss";

.container {
  margin: 2rem 0;

  .filenameSpace {
    background-color: var(--secondary-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    font-size: 0.9rem;
  }

  .codeFrame {
    border-radius: 1rem;
    overflow: hidden;

    &.withFilename {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .pre {
      padding: 1.5rem 1rem;
      font-size: 0.9rem;
      overflow-x: auto;

      .code {
        font-family: "Consolas";
      }
    }
  }
}