@import "/src/styles/variables.scss";

@font-face {
  font-family: "Consolas";
  src: url(../assets/fonts/CONSOLA.TTF) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url(../assets/fonts/CONSOLAI.TTF) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Consolas";
  src: url(../assets/fonts/CONSOLAB.TTF) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url(../assets/fonts/CONSOLAZ.TTF) format("truetype");
  font-weight: bold;
  font-style: italic;
}

.container {
  margin: 2rem 0;
}

.filenameSpace {
  background-color: var(--secondary-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  font-size: 0.9rem;
}

.pre {
  padding: 2rem 1rem;
  font-size: 0.9rem;
  // font-family: "Consolas";
}

.code {
  font-family: "Consolas";
}

.codeFrame {
  overflow-x: auto;
  border-radius: 1rem;

  &.withFilename {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
