@import "/src/styles/common.scss";
@import "/src/styles/variables.scss";

.container {
  overflow: hidden;
  border-radius: 1rem;
  @include hover();

  :hover {
    .inner {
      text-decoration: underline var(--text-color);
      -webkit-text-decoration: underline var(--text-color);
    }

    .date {
      text-decoration: underline gray;
    }
  }

  .image {
    padding: 0.5rem;

    .inner {
      height: 9rem;
      background-color: rgba(128, 128, 128, 0.5);
      overflow:  hidden;
      border-radius: 0.5rem;
    }
  }

  .text {
    padding: 1rem;
    padding-top: 0;

    .title {
      height: 4rem;

      .inner {
        font-size: 1.1rem;
        margin: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: var(--text-color);
      }
    }

    .date {
      height: 1rem;
      font-size: 0.7rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: gray;
    }
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  width: 100%;
  justify-content: center;
  margin: 1.3rem 0;
}