@import "/src/styles/variables.scss";
@import "/src/styles/common.scss";

.container {
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  margin-bottom: 2rem;

  @media (max-width: $tablet) {
    padding: 1rem 1rem;
  }

  + .container {
    margin: 2rem 0;
  }

  & > *:first-child {
    margin-top: 1rem;
  }

  & > *:last-child {
    margin-bottom: 1rem;
  }
}

.enableExpansion {
  @media (max-width: $mobile) {
    border-radius: 0;
    position: relative;
    left: -1rem;
    width: calc(100% + 2rem);
  }
}