.container {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;

  .mdImg {
    overflow: hidden;
    border-radius: 1rem;
    object-fit: contain;
    max-height: 400px;
  }
}