.container {
  margin: 1.3rem 0 1.3rem 0;
}

.filenameSpace {
  display: flex;
  justify-content: flex-end;
}

.filenameTag {
  background-color: var(--secondary-color);
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 8px;
  padding: 0.3rem 1rem 0.3rem;
}

.codeFrame {
  overflow-x: auto;
  border-radius: 0.7rem;

  &.withFilename {
    border-top-right-radius: 0;
  }
}
