@import "/src/styles/common.scss";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon {
    margin-right: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
    animation: color 0.3s ease;
    color: var(--tag-color);
  }

  .tagContainer {
    display: flex;
    flex-direction: row;

    .tag {
      margin-right: 0.5rem;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
      color: var(--text-color);
      @include animation();
      background-color: var(--tag-color);
      color: white;
    }
  }
}